/* h2{
    color: red;
}
h2{
    color:rgb(0,120, 120);
}
button{
    background-color: blue;
    color: #ffff00 ;
}
p{
    background-color: grey;
} */
 /* h1{
    text-align: center;
    text-decoration: underline;
    text-decoration: black overline underline;
 } */
 button{
    text-align: right;
 }
 h2{
    text-align: center;
    font-weight: 900;
    text-decoration: dashed underline;
    font-family:  Geneva, Tahoma, sans-serif;
 }
 p{
    font-weight: 400;
    line-height: 2;
    
 }
 h3{
    text-decoration: wavy red underline;
    letter-spacing: normal;
 }
h1{
    font-family:league spartan;
    text-decoration: double rgb(111, 207, 255) underline;
    color: #ffa511;
    text-align: center;
    font-weight: 900;
    text-size-adjust: 55px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
}